<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle footer">


  <div class="small-11 cell text-center text-uppercase">
    <a href="/info">
      <h2 class="sans-bold font-wide margin-bottom-0">About & Contact</h2>
    </a>
  </div>

</header>
<!-- End  Header -->
