<!-- Footer -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle footer show-for-small-only">
  <div class="small-11 cell text-center text-uppercase">
    <a href="/info">
      <h2 class="sans-bold font-wide margin-bottom-0">About & Contact</h2>
    </a>
  </div>
</header>
<!-- End Footer -->

<!-- Footer -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle footer">
  <div class="small-11 cell text-center">
    <a href="#top" data-smooth-scroll class="h1">
      <svg class="icon icon-arrow-up"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-up"></use></svg>
    </a>
  </div>
</header>
<!-- End Footer -->
