<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle navigation">


  <div class="small-11 cell text-center text-uppercase">
    <a href="/">
      <h2 class="sans-bold font-wide margin-bottom-0">Anna Voisey</h2>
    </a>
  </div>

</header>
<!-- End  Header -->
