<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle navigation" id="swup-header">


  <div class="small-11 cell text-center text-uppercase padding-bottom-0">
    <a href={% if bodyClass == 'home' %}"/info"{% else %}"/"{% endif %}>
      <h1 class="font-wide margin-bottom-0">{{ seoTitle }}</h1>
    </a>
  </div>

</header>
<!-- End  Header -->
