@font-face {
  font-family: 'Louize Display';
  src: 
  url('../fonts/louize-display.woff2') format('woff2'), 
  url('../fonts/louize-display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louize Display Italic';
  src: 
  url('../fonts/louize-display-italic.woff2') format('woff2'), 
  url('../fonts/louize-display-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}